FORMAT: 1A
HOST: http://www.google.com

# Panoptes API
Panoptes API is a *crowdsourcing system* based on serving _subjects_,
images or other media, to _volunteers_ and asking them to _classify_
the _subject_ based on a defined _workflow_ for the _subject_ type.


# Authentication
Panoptes API provides an OAuth 2.0 authentication mechanism. (TODO:
Describe Authentication Workflow).

# Panoptes API Root [/]
Panoptes API entry point.

This resource does not have attributes intstead it lists links to the
available resources.

## Retrieve Entry Point [GET]

+ Response 200 (application/vnd.api+json)

    + Body
    
            {
                "links": {
                    "subjects": "/subjects",
                    "users": "/users",
                    "projects": "/projects",
                    "workflows": "/workflows",
                    "subject_sets": "/subject_sets",
                    "groups": "/groups",
                    "classifications": "/classifications",
                    "memberships": "/memberships",
                    "collections": "/collections"
                }
            }

# Group User
Resources related to *Panotpes API Users*

## User [/users/{id}]
A single User object. A User is representation of the identity and
contributions of a voluneteer.

The User resource has the following attribtues:

- id
- created_at
- updated_at
- credited_name
- display_name
- login
- email
- zooniverse_id
- classifications_count
- languages

*id*, *zooniverse_id*, *created_at*, *updated_at*, and
 *classification_count* are created and updated by the Panoptes API.

+ Parameters
    + id (integer) ... ID of the User as an integer key

+ Model (application/vnd.api+json)

    JSON-API representation of the User Resource.

    + Body

            {
                "links": {
                    "users.projects": {
                        "href": "/projects/{users.projects}",
                        "type": "projects"
                    },
                    "users.user_groups": {
                        "href": "/groups/{users.user_groups}",
                        "type": "user_groups"
                    },
                    "users.subjects": {
                        "href": "/subjects/{users.subjects}",
                        "type": "subjects"
                    },
                    "users.collections": {
                        "href": "/collections/{users.collections}",
                        "type": "collections"
                    }
                },
                "users": {
                    "id": 1,
                    "created_at": "2014-03-20T00:15:47Z",
                    "updated_at": "2013-09-30T10:20:32Z",
                    "created_name": "Dr. Stuart Lynn",
                    "display_name": "stuart",
                    "login": "stuart",
                    "email": "stuart@zoooniverse.org",
                    "zooniverse_id": "123432",
                    "classifications_count": "104",
                    "langauges": ["en-gb", "es-mx"],
                    "links": {
                        "projects": ["4", "43", "220"],
                        "user_groups": ["8"],
                        "subjects": ["1", "20", "40", "567"],
                        "collections": ["3"]
                    }
                }
            }

### Retrieve a single User [GET]
+ Response 200

    [User][]

### Edit a single User [PUT]
The currently logged in User may edit their record by sending a
partial representation of the resource including their changes. A User
cannot edit their links.

+ Request (application/vnd.api+json)

        {
            "users": {
                "credited_name": "Dr. Stuart Lynn, DDS"
            }
        }

+ Response 200 (application/vnd.api+json)

    [User][]

### Destory a single User [DELETE]
The current logged in User may delete themselves. This does not fully
remove their record. It deactivates their projects and removes
personally identifying information.

+ Response 204

## Users Collection [/users{?page,per_page,sort}]
Collection of all Users

All collections add a *meta* attribute that is a hash containing
paging information.

- meta

User resources are included a an array under the _users_ key

+ Model (application/vnd.api+json)

    JSON-API formatted respresentation of the Users collection

    + Body
    
            {
                "links": {
                    "user.projects": {},
                    "user.user_groups": {},
                    "user.subjects": {},
                    "user.collections": {}
                },
                "meta": {
                    "users": {
                        "page": 1,
                        "page_size": 2,
                        "count": 28,
                        "include": [],
                        "page_count": 14,
                        "previous_page": 14,
                        "next_page": 2,
                        "first_href": "/users?page_size=2",
                        "previous_href": "/users?page=14page_size=2",
                        "next_href": "/users?page=2&page_size=2",
                        "last_href": "/users?page=14&page_size=2"
                    }
                }
                "users": [{
                    "id": 1,
                    "created_at": "2014-03-20T00:15:47Z",
                    "updated_at": "2013-09-30T10:20:32Z",
                    "created_name": "Dr. Stuart Lynn",
                    "display_name": "stuart",
                    "login": "stuart",
                    "email": "stuart@zoooniverse.org",
                    "zooniverse_id": "123432",
                    "classifications_count": "104",
                    "langauges": ["en-gb", "es-mx"],
                    "links": {
                        "projects": ["4", "43", "220"],
                        "user_groups": ["8"],
                        "subjects": ["1", "20", "40", "567"],
                        "collections": ["3"]
                    }
                },
                {
                    "id": 2,
                    "created_at": "2014-03-20T00:15:47Z",
                    "updated_at": "2013-09-30T10:20:32Z",
                    "created_name": "Dr. Stuart Lynn",
                    "display_name": "stuart",
                    "login": "stuart",
                    "email": "stuart@zoooniverse.org",
                    "zooniverse_id": "123432",
                    "classifications_count": "104",
                    "langauges": ["en-gb", "es-mx"],
                    "links": {
                        "projects": ["4", "43", "220"],
                        "user_groups": ["8"],
                        "subjects": ["1", "20", "40", "567"],
                        "collections": ["3"]
                    }
                }]
            }

### List all Users [GET]
+ Parameters
    + page (optional, integer) ... index of the collection page, 1 is
      default
    + per_page (optional, integer) ... number of items on a page. 20
      is default
    + sort (optional, string) ... fields to sort collection by. id is
      default

+ Response 200

    [Users Collection][]
    
# Group Classification
Resources related to _Pantopes Classifications_.

## Classification [/classification/{id}]
A single Classification resource object. This represents a _user's_
responses to a _worflow's_ questions about a _subject_.
                
A classifications has the following attributes:

- id
- created_at
- updated_at
- complete
- annotations

Annotations is an array of of hashes. Hashs that answer a workflow
question have the form `{ "key": "workflow question", "value": "user
response"}` in addition there are following hashes that should be
generated by a client:

- started_at
- finished_at
- user_agent

+ Model (application/vnd.api+json)

    JSON-API formatted represenation of a classificaiton object

    + Body

            {
                "links": {
                    "classifications.user": {
                        "href": "/users/{classifications.user",
                        "type": "classification"
                    },
                    "classifications.project": {
                        "href": "/projects/{classifications.project}",
                        "type": "project"
                    },
                    "classifications.workflow": {
                        "href": "/workflows/{classification.workflow}",
                        "type": "workflow"
                    },
                    "classifications.subject": {
                        "href": "/subjects/{classifications.subject}"
                        "type": "subject"
                    },
                },
                "classifications": {
                    "id": 1001,
                    "created_at": "2014-08-24T22:24:32Z",
                    "updated_at": "2014-08-24T22:24:32Z",
                    "complete": false,
                    "annotations: [
                        {"key": "workflow-1", "value": [10.4, 12.4, 13.2]},
                        {"started_at": "2014-08-24T22:20:21Z"},
                        {"finished_at": "2014-08-24T22:24:31Z"},
                        {"user_agent": "cURL"}
                    ],
                    "links": {
                        "user": "1",
                        "subject": "10",
                        "workflow": "81",
                        "project": "2"
                    }
                }
            }

### Retrieve a single Classification [GET]
A User can only retrieve a single classification is it not completed
in order to finish it. Otherwise they can get a list of
classifications from the Classification Collection resource.

+ Response 200

    [Classification][]

### Edit a single Classification [PUT]
A User may modify an incomplete classification. It should be marked as
completed when done.

+ Request (application/vnd.api+json)

        {
            "classifications": {
                "annotations": [
                    {"key": "workflow-1", "value": [10.4, 12.4, 13.2]},
                    {"key": "workflow-2", "value": "fishy"},
                    {"started_at": "2014-08-24T22:20:21Z"},
                    {"finished_at": "2014-08-24T22:24:31Z"},
                    {"user_agent": "cURL"}
                ]
                "complete": true
            }
        }

+ Response 200

    [Classification][]

### Destroy a single Classification [DELETE]
A User may delete an incomplete classification.

+ Response 204

## Classification Collection [/classifications{?page,per_page,sort,project_id,group_id}]
A representation of all the Classifications in a collection

All collections add a *meta* attribute that is a hash containing
paging information.

- meta

Classifications are return as an array under the _classifications_
key. 

+ Model (application/vnd.api+json)

    A JSON API formatted respresentation of a collection of
    classification resources

    + Body
    
            {
                "links": {
                    "classifications.user": {
                        "href": "/users/{classifications.user",
                        "type": "classification"
                    },
                    "classifications.project": {
                        "href": "/projects/{classifications.project}",
                        "type": "project"
                    },
                    "classifications.workflow": {
                        "href": "/workflows/{classification.workflow}",
                        "type": "workflow"
                    },
                    "classifications.subject": {
                        "href": "/subjects/{classifications.subject}"
                        "type": "subject"
                    },
                },
                "meta": {
                    "classifications": {
                        "page": 1,
                        "page_size": 2,
                        "count": 28,
                        "include": [],
                        "page_count": 14,
                        "previous_page": 14,
                        "next_page": 2,
                        "first_href": "/classifications?page_size=2",
                        "previous_href": "/classifications?page=14page_size=2",
                        "next_href": "/classifications?page=2&page_size=2",
                        "last_href": "/classifications?page=14&page_size=2"
                    }
                }
                "classifications": [{
                    "id": 1001,
                    "created_at": "2014-08-24T22:24:32Z",
                    "updated_at": "2014-08-24T22:24:32Z",
                    "complete": false,
                    "annotations: [
                        {"key": "workflow-1", "value": [10.4, 12.4, 13.2]},
                        {"started_at": "2014-08-24T22:20:21Z"},
                        {"finished_at": "2014-08-24T22:24:31Z"},
                        {"user_agent": "cURL"}
                    ],
                    "links": {
                        "user": "1",
                        "subject": "10",
                        "workflow": "81",
                        "project": "2"
                    }
                },
                {
                   "id": 1002,
                    "created_at": "2014-08-24T22:25:32Z",
                    "updated_at": "2014-08-24T22:28:32Z",
                    "complete": ture,
                    "annotations: [
                        {"key": "workflow-1", "value": [10.4, 12.4, 13.2]},
                        {"key": "workflow-2", "value": "starry"},
                        {"started_at": "2014-08-24T22:24:21Z"},
                        {"finished_at": "2014-08-24T22:28:31Z"},
                        {"user_agent": "cURL"}
                    ],
                    "links": {
                        "user": "1",
                        "subject": "11",
                        "workflow": "81",
                        "project": "2"
                    }
                }]
                
            }

### List all classifications [GET]
Only lists a classifications the active user has made, or
classifications from other members of a user_group or projects the
user has permission to view.

+ Parameters
    + page (optional, integer) ... index of the collection page, 1 is
      default
    + per_page (optional, integer) ... number of items on a page. 20
      is default
    + sort (optional, string) ... fields to sort collection by. updated_at is
      default
    + project_id (optional, integer) ... only retrieve classifications
      for a specific project
    + group_id (optional, integer) ... only retrieve classifications
      for a specific user group

+ Response 200

    [Classification Collection][]

### Create a Classification [POST]
Create a classification by providing a JSON-API formatted object that
must include annotations and a links hash with a subject, a project, and a
workflow. Optionally may include the complete field, which will be
set to true by default.

+ Request (application/vnd.api+json)

        {
            "classifications": {
                "complete": flase
                "annotations": [
                    {"key": "workflow-1", "value": [10.4, 12.4, 13.2]},
                    {"started_at": "2014-08-24T22:20:21Z"},
                    {"finished_at": "2014-08-24T22:24:31Z"},
                    {"user_agent": "cURL"}
                ],
                "links": {
                    "subject": "11",
                    "workflow": "81",
                    "project": "2"
                }
            }
        }

+ Response 201

    [Classification][]
