FORMAT: 1A
HOST: http://beta.api.zooniverse.org/

# Panoptes API
Panoptes is an api to support *Citizen Science Crowdsourcing Projects*, including managing subjects, describing project interfaces, persisting classifications, and supporting users collecting subjects.  

## Authentication
Panoptes supports OAuth2 using the [doorkeeper](http://github.com/doorkeeper-gem/doorkeeper) gem.

## Media Types
Panoptes uses standard JSON to represent resources. However, the API is versioned to allow for future flexibility. All requests and responses should use the `application/vnd.zooniverse.v1+json` media type.

# Group Collections 
Collections related resources of the **Panoptes API**

## Collection [/collections/{owner_name}/{collection_name}]
A single Collection object respenting a group of subjects from a project a user has collected together. 

The Collection resource has the following attributes:

- id
- created_at
- updated_at
- name
- display_name
- description

*id* and *created_at* are assigned when the resource is created.

+ Parameters
    + owner_name (string) ... Name of the owner (user or user group) that created the collection
    + collection_name (string) ... Name of the collection

+ Model (application/vnd.zooniverse.v1+json)

    JSON respresentation of the Collection resource. It also includes links to subjects within the collection

    + Headers

            Link: <http:/beta.api.zooniverse.org/collections/stuart/cool_flowers>;rel="self", http:/beta.api.zooniverse.org/collections/stuart/cool_flowers/subjects>;rel="subjects", <http:/beta.api.zooniverse.org/users/stuart>;rel="owner"

    + Body

            {
                "id": 51,
                "created_at": "2014-04-15T10:41:14Z",
                "updated_at": "2014-04-20T10:41:14Z",
                "name": "cool_flowers",
                "display_name": "Stuart's Cool Flowers",
                "description": "Just some cool looking flowers",
                "self": "/collections/stuart/cool_flowers"
                "owner": "/users/stuart",
                "subjects": "/collections/stuart/cool_flowers/subjects"
            }

### Retrieve a Single Collection [GET]
+ Response 200

    [Collection][]

### Edit a Collection [PATCH]
To edit a Collection send a JSON object with updated values for one or more of the Collection resource attributes. `updated_at` will be updated to reflect the time the request was received. Other fields will not be changed if they are not included in the request. 
+ Request

        {
            "description": "Make this a little better..."
        } 

+ Response 200

    [Collection][]

### Delete a Collection [DELETE]
+ Response 204

## Collections Collection [/collections{?project,page}]
Collection of all Collections. 

It contains a list of *Collections*. 

+ Model (application/vnd.zooniverse.v1+json)

    JSON representation of the Collection Collection resource. Included collections should be full representations of the resource. 

    + Headers
            
            Link: <http:/beta.api.zooniverse.org/collections?page=2>;rel="next", <http:/beta.api.zooniverse.org/collections?page=5>;rel="prev"

    + Body

            {
                "collections" [{
                     {
                        "id": 51,
                        "created_at": "2014-04-15T10:41:14Z",
                        "updated_at": "2014-04-20T10:41:14Z",
                        "name": "cool_flowers",
                        "display_name": "Stuart's Cool Flowers",
                        "description": "Just some cool looking flowers",
                        "self": "/collections/stuart/cool_flowers"
                        "owner": "/users/stuart",
                        "subjects": "/collections/stuart/cool_flowers/subjects"
                     }
                }]
                "next": "/collections?page=2",
                "prev": "/collections?page=5"
            }

### List all Collections [GET]
+ Parameters
    + project (optional, string) ... String name of a project in the form *:owner_name/:project_name*
    + page (optional, integer) ... Integer of the next page. 1 by default

+ Response 200

    [Collections Collection][]

### Create a Collection [POST]
To create a new Collection send a JSON representation containing at least a name, display_name, and owner. A description and array of subject ids may also be included.

+ Request

        {
            "name": "cool_flowers",
            "display_name": "Stuart's Cool Flowers",
            "owner": "stuart",
            "subjects": [1, 40, 20],
            "description": "Just some cool looking flowers"
        }

+ Response 201

    [Collection][]
