<!-- BEGIN TEMPLATE // -->
<table border="0" cellpadding="0" cellspacing="0" id="templateContainer">
  	<tr>
      	<td align="center" valign="top">
          	<!-- BEGIN PREHEADER // -->
              <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templatePreheader">
                  <tr>
                      <td valign="top" class="preheaderContent" style="padding-top:10px; padding-right:20px; padding-bottom:10px; padding-left:20px;" mc:edit="preheader_content00">
                          Use this area to offer a short teaser of your email's content. Text here will show in the preview area of some email clients.
                      </td>
                      <!-- *|IFNOT:ARCHIVE_PAGE|* -->
                      <td valign="top" width="180" class="preheaderContent" style="padding-top:10px; padding-right:20px; padding-bottom:10px; padding-left:0;" mc:edit="preheader_content01">
                          Email not displaying correctly?<br /><a href="*|ARCHIVE|*" target="_blank">View it in your browser</a>.
                      </td>
                      <!-- *|END:IF|* -->
                  </tr>
              </table>
              <!-- // END PREHEADER -->
          </td>
      </tr>
  	<tr>
      	<td align="center" valign="top">
          	<!-- BEGIN HEADER // -->
              <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateHeader">
                  <tr>
                      <td valign="top" class="headerContent">
                      	<img src="http://gallery.mailchimp.com/2425ea8ad3/images/header_placeholder_600px.png" style="max-width:600px;" id="headerImage" mc:label="header_image" mc:edit="header_image" mc:allowdesigner mc:allowtext />
                      </td>
                  </tr>
              </table>
              <!-- // END HEADER -->
          </td>
      </tr>
  	<tr>
      	<td align="center" valign="top">
          	<!-- BEGIN BODY // -->
              <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateBody">
                  <tr>
                      <td valign="top" class="bodyContent" mc:edit="body_content00">
                          <h1>Designing Your Template</h1>
                          <h3>Creating a good-looking email is simple</h3>
                          Customize your template by clicking on the style editor tabs up above. Set your fonts, colors, and styles. After setting your styling is all done you can click here in this area, delete the text, and start adding your own awesome content.
                      </td>
                  </tr>
              	<tr>
                  	<td class="bodyContent" style="padding-top:0; padding-bottom:0;">
                      	<img src="http://gallery.mailchimp.com/27aac8a65e64c994c4416d6b8/images/body_placeholder_650px.png" style="max-width:560px;" id="bodyImage" mc:label="body_image" mc:edit="body_image" mc:allowtext />
                      </td>
                  </tr>
                  <tr>
                      <td valign="top" class="bodyContent" mc:edit="body_content01">
                          <h2>Styling Your Content</h2>
                          <h4>Make your email easy to read</h4>
                          After you enter your content, highlight the text you want to style and select the options you set in the style editor in the "<em>styles</em>" drop down box. Want to <a href="http://www.mailchimp.com/kb/article/im-using-the-style-designer-and-i-cant-get-my-formatting-to-change" target="_blank">get rid of styling on a bit of text</a>, but having trouble doing it? Just use the "<em>remove formatting</em>" button to strip the text of any formatting and reset your style.
                      </td>
                  </tr>
              </table>
              <!-- // END BODY -->
          </td>
      </tr>
  	<tr>
      	<td align="center" valign="top">
          	<!-- BEGIN FOOTER // -->
              <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateFooter">
                  <tr>
                      <td valign="top" class="footerContent" mc:edit="footer_content00">
                          <a href="https://twitter.com/the_zooniverse">Twitter</a>&nbsp;&nbsp;&nbsp;<a href="https://www.facebook.com/therealzooniverse">Facebook</a>
                      </td>
                  </tr>
                  <tr>
                      <td valign="top" class="footerContent" style="padding-top:0;" mc:edit="footer_content02">
												<p>
										      <% if @user %>
										        To unsubscribe to these messages instantly visit <%= link_to 'Unsubscribe Instantly', unsubscribe_url(token: @user.unsubscribe_token) %>
										        </br>
										        Please be aware that this action will unsubscribe you from ALL Zooniverse emails; if you wish to manage individual project subscriptions, please visit your settings page link below.
										      <% end %>
												</p>
												<p>
										      To manage your email subscription preferences visit <%= link_to 'Manage Email Preferences', "https://zooniverse.org/#/settings" %>
										    </p>
                      </td>
                  </tr>
              </table>
              <!-- // END FOOTER -->
          </td>
      </tr>
  </table>
  <!-- // END TEMPLATE -->
