You have been added to the Zooniverse project <%= @project.display_name %> in the following roles: <%= @roles.join(" and ") %>

Visit <a href="zooniverse.org/projects/<%= @project.slug %>"><% @project.display_name %></a> to get started.

Thanks,

The Zooniverse Team
