apiVersion: apps/v1
kind: Deployment
metadata:
  name: panoptes-staging-app
  labels:
    app: panoptes-staging-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: panoptes-staging-app
  template:
    metadata:
      labels:
        app: panoptes-staging-app
    spec:
      containers:
        - name: panoptes-staging-app
          image: zooniverse/panoptes:__IMAGE_TAG__
          env:
            - name: RAILS_ENV
              value: staging
            - name: SECRET_KEY_BASE
              valueFrom:
                secretKeyRef:
                  name: panoptes-staging-env-vars
                  key: SECRET_KEY_BASE
            - name: AWS_REGION
              value: us-east-1
            - name: KINESIS_STREAM
              value: zooniverse-staging
            - name: ZOO_STREAM_KINESIS_STREAM_NAME
              value: zooniverse-staging
            - name: ZOO_STREAM_SOURCE
              value: panoptes
            - name: SUBJECTS_BUCKET
              value: zooniverse-static
            - name: BUCKET_PATH
              value: panoptes-uploads.zooniverse.org
            - name: EXPORT_BUCKET_PATH
              value: panoptes-exports.zooniverse.org
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: panoptes-staging-env-vars
                  key: AWS_ACCESS_KEY_ID
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: panoptes-staging-env-vars
                  key: AWS_SECRET_ACCESS_KEY
            - name: DUMP_CONGESTION_OPTS_INTERVAL
              value: 60
            - name: DUMP_CONGESTION_OPTS_MAX_IN_INTERVAL
              value: 1
            - name: DUMP_CONGESTION_OPTS_MIN_DELAY
              value: 60
            - name: DUMP_CONGESTION_OPTS_REJECT_WITH
              value: cancel
            - name: COUNTER_CONGESTION_OPTS_INTERVAL
              value: 360
            - name: COUNTER_CONGESTION_OPTS_MAX_IN_INTERVAL
              value: 10
            - name: COUNTER_CONGESTION_OPTS_MIN_DELAY
              value: 180
            - name: COUNTER_CONGESTION_OPTS_REJECT_WITH
              value: cancel
            - name: CORS_ORIGIN_USERS
              value: /^https?:\/\/(127\.0\.0\.1|localhost|[a-z0-9-]+\.local|10\.[0-9]+\.[0-9]+\.[0-9]+|192\.[0-9]+\.[0-9]+\.[0-9]+|[a-z0-9-]+\.zooniverse\.org|[a-z0-9-]+\.(pfe-)?preview\.zooniverse\.org)(:\d+)?$/
            - name: CORS_ORIGIN_OAUTH
              value: /^https?:\/\/(127\.0\.0\.1|localhost|[a-z0-9-]+\.zooniverse\.org|[a-z0-9-]+\.(pfe-)?preview\.zooniverse\.org)(:\d+)?$/
            - name: EVENTS_API_USERNAME
              value: staging_api
            - name: EVENTS_API_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: panoptes-staging-env-vars
                  key: EVENTS_API_PASSWORD
---
apiVersion: v1
kind: Service
metadata:
  name: panoptes-staging-app
spec:
  selector:
    app: panoptes-staging-app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  type: NodePort
