apiVersion: apps/v1
kind: Deployment
metadata:
  name: panoptes-production-app
  labels:
    app: panoptes-production-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: panoptes-production-app
  template:
    metadata:
      labels:
        app: panoptes-production-app
    spec:
      containers:
        - name: panoptes-production-app
          image: zooniverse/panoptes:__IMAGE_TAG__
          env:
            - name: RAILS_ENV
              value: production
            - name: SECRET_KEY_BASE
              valueFrom:
                secretKeyRef:
                  name: panoptes-production-env-vars
                  key: SECRET_KEY_BASE
            - name: AWS_REGION
              value: us-east-1
            - name: ZOO_STREAM_KINESIS_STREAM_NAME
              value: zooniverse-production
            - name: ZOO_STREAM_SOURCE
              value: panoptes
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: panoptes-common-env-vars
                  key: AWS_ACCESS_KEY_ID
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: panoptes-common-env-vars
                  key: AWS_SECRET_ACCESS_KEY
            - name: DUMP_CONGESTION_OPTS_INTERVAL
              value: 86400
            - name: DUMP_CONGESTION_OPTS_MAX_IN_INTERVAL
              value: 1
            - name: DUMP_CONGESTION_OPTS_MIN_DELAY
              value: 43200
            - name: DUMP_CONGESTION_OPTS_REJECT_WITH
              value: cancel
            - name: COUNTER_CONGESTION_OPTS_INTERVAL
              value: 360
            - name: COUNTER_CONGESTION_OPTS_MAX_IN_INTERVAL
              value: 10
            - name: COUNTER_CONGESTION_OPTS_MIN_DELAY
              value: 180
            - name: COUNTER_CONGESTION_OPTS_REJECT_WITH
              value: cancel
            - name: CORS_ORIGIN
              value: /^https?:\/\/((www|staging)\.antislaverymanuscripts\.org|(www|staging)?\.?heirtagger\.ox\.ac\.uk|(www|lab|learn)\.wildcamgorongosa\.org|www\.diagnosislondon\.org|anno\.tate\.org\.uk|(www|relaunch|field-book)\.notesfromnature\.org|[a-z0-9-]+\.oldweather\.org|www\.scribesofthecairogeniza\.org|([a-z0-9-]+\.)?zooniverse\.org|[a-z0-9-]+\.(pfe-)?preview\.zooniverse\.org)(:\d+)?$/
            - name: DESIGNATOR_API_HOST
              value: https://designator.zooniverse.org/
            - name: DESIGNATOR_API_USERNAME
              value: production
            - name: DESIGNATOR_API_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: panoptes-production-env-vars
                  key: DESIGNATOR_API_PASSWORD
            - name: EMAIL_EXPORT_S3_BUCKET
              value: zooniverse-exports
            - name: EVENTS_API_USERNAME
              value: api
            - name: EVENTS_API_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: panoptes-common-env-vars
                  key: EVENTS_API_PASSWORD
            - name: REDIRECTS_BASE
              value: https://www.zooniverse.org
            - name: REDIRECTS_PASSWORD_RESET
              value: /reset-password
            - name: REDIRECTS_UNSUBSCRIBE
              value: /unsubscribe
            - name: HONEYBADGER_API_KEY
              valueFrom:
                secretKeyRef:
                  name: panoptes-common-env-vars
                  key: HONEYBADGER_API_KEY
            - name: MAILER_ENABLE_STARTTLS_AUTO
              value: 'true'
            - name: MAILER_ADDRESS
              value: email-smtp.us-east-1.amazonaws.com
            - name: MAILER_PORT
              value: 587
            - name: MAILER_DOMAIN
              value: zooniverse.org
            - name: MAILER_AUTHENTICATION
              value: plain
            - name: MAILER_USER_NAME
              valueFrom:
                secretKeyRef:
                  name: panoptes-common-env-vars
                  key: MAILER_USER_NAME
            - name: MAILER_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: panoptes-common-env-vars
                  key: MAILER_PASSWORD
            - name: NEW_RELIC_APP_NAME
              value: Panoptes
            - name: NEW_RELIC_MONITOR_MODE
              value: 'true'
            - name: NEW_RELIC_LICENSE_KEY
              valueFrom:
                secretKeyRef:
                  name: panoptes-common-env-vars
                  key: NEW_RELIC_LICENSE_KEY
            - name: PAGE_SIZE_LIMIT
              value: 200
            - name: PROJECT_REQUEST_BASE_URL
              value: https://www.zooniverse.org
            - name: PROJECT_REQUEST_RECIPIENTS
              value: project-review@zooniverse.org
            - name: PROJECT_REQUEST_BCC
              value: i2h6y2f6a7o0x7i9@zooniverse.slack.com
            - name: SIDEKIQ_VERBOSE
              value: false
            - name: SIDEKIQ_LOGFILE
              value: ./log/sidekiq.log
            - name: SIDEKIQ_PIDFILE
              value: ./tmp/pids/sidekiq.pid
            - name: SIDEKIQ_CONCURRENCY
              value: 8
            - name: SIDEKIQ_TIMEOUT
              value: 30 
            - name: STORAGE_ADAPTER
              value: aws
            - name: STORAGE_BUCKET
              value: zooniverse-static
            - name: STORAGE_PREFIX
              value: panoptes-uploads.zooniverse.org/production/
            - name: SELECTION_FOCUS_SET_WINDOW_SIZE
              value: 1000
            - name: SELECTION_INDEX_REBUILD_RATE
              value: 0.01
            - name: SELECTION_RANDOM_INTERVAL
              value: 60
            - name: SELECTION_RANDOM_MAX_IN_INTERVAL
              value: 1
            - name: SELECTION_RANDOM_MIN_DELAY
              value: 30
            - name: SOCIAL_FACEBOOK_APP_ID
              valueFrom:
                secretKeyRef:
                  name: panoptes-production-env-vars
                  key: SOCIAL_FACEBOOK_APP_ID
            - name: SOCIAL_FACEBOOK_APP_SECRET
              valueFrom:
                secretKeyRef:
                  name: panoptes-production-env-vars
                  key: SOCIAL_FACEBOOK_APP_SECRET
            - name: SOCIAL_FACEBOOK_SCOPE
              value: email,public_profile
            - name: SOCIAL_GOOGLE_APP_ID
              valueFrom:
                secretKeyRef:
                  name: panoptes-production-env-vars
                  key: SOCIAL_GOOGLE_APP_ID
            - name: SOCIAL_GOOGLE_APP_SECRET
              valueFrom:
                secretKeyRef:
                  name: panoptes-production-env-vars
                  key: SOCIAL_GOOGLE_APP_SECRET
            - name: SOCIAL_GOOGLE_SCOPE
              value: userinfo.email
            - name: SOCIAL_GOOGLE_REQUEST_VISIBLE_ACTIONS
              value: AddActivity,BuyActivity
            - name: TALK_API_HOST
              value: https://talk.zooniverse.org
            - name: TALK_API_USER
              value: 1
            - name: TALK_API_APPLICATION
              value: 1
            - name: UPLOADED_SUBJECTS_COUNT_CACHE_EXPIRY
              value: 604800
            - name: USER_SUBJECT_LIMIT
              value: 10000

---
apiVersion: v1
kind: Service
metadata:
  name: panoptes-production-app
spec:
  selector:
    app: panoptes-production-app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  type: NodePort
