apiVersion: batch/v1
kind: Job
metadata:
  name: __JOB_NAME__
spec:
  template:
    spec:
      containers:
      - name: panoptes-migrate-db-production
        image: zooniverse/panoptes:__IMAGE_TAG__
        command: ["/rails_app/migrate.sh"]
        envFrom:
        - secretRef:
            name: panoptes-common-env-vars
        - secretRef:
            name: panoptes-production-env-vars
        - configMapRef:
            name: panoptes-production-shared
      restartPolicy: Never
  backoffLimit: 1