html, body {
  background: #fbfbfb;
  font: 400 10px/20px Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.home-landing {
  text-align: center;
  margin: 3em 0;
}

.home-landing .row {
  margin: 1em;
}

.home-landing .row .col-sm-2 {
  margin-top: 1em;
}

.alert, .notice {
  font-size: 1.2em;
  font-style: italic;
  margin: 1.5em 0;
  text-align: center;
}

.notice {
  color: #32c465;
}

.alert {
  background-color: #FFD2D2;
  border-radius: 6px;
  color:  #ff5353;
  margin: 0 auto;
  max-width: 510px;
  padding: 0.75em 0;
}

/* Typography */
.logo-container {
  margin-top: 1em;
  font-size: 3.5em;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
}

.logotype {
  margin-left: 0.2em;
  font-family: Montserrat;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1em;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 4.2em;
}

h3 {
  font-size: 3.6em;
}

h4 {
  font-size: 3em
}

h5 {
  font-size: 2.4em
}

h6 {
  font-size: 1.5em;
}

p {
  color: #989898;
  font-size: 1.4em;
  line-height: 2em;
}

.on-dark {
  color: #c1c1c1;
}
