<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>
<%- password_reset_url = url_for(controller: 'passwords', action: 'edit', only_path: false) %>
<%- password_reset_url = "#{password_reset_url}?reset_password_token=#{@token}" %>
<p><%= link_to 'Change my password', password_reset_url %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
