<p>Hi <%= @owner %></p>

<p>Thanks for requesting your project, <a href="<%= @url %>"><%= @name %></a>, be reviewed for <%= @type %>.</p>

<p>Someone on our team will review your project and be in touch with you shortly about the next steps.</p>

<p>Best,</p>
<p>The Zooniverse Team</p>
