name: Update Documentation Site
on:
  workflow_dispatch:
  pull_request:
  push: { branches: master }
jobs:
  build_and_deploy:
    name: Build & Deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build & Deploy to GitHub Pages
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REMOTE_BRANCH: gh-pages
          SITE_LOCATION: docs
          BUILD_LOCATION: build
        uses: zooniverse/middleman-gh-pages-action@master
